<div class="w-full h-full"> 
    <div id="displayArea" class="space-y-4 max-h-[600px] overflow-y-auto pr-2 custom-scrollbar"></div>
    <div id="patternListContainer" class="space-y-4 max-h-[600px] overflow-y-auto pr-2 custom-scrollbar"></div>
</div>

<script type="module">
    import { api } from "/assets/js/api.js";
    import { loadingSpinner, getBasePath } from "/assets/js/config.js";

    const displayArea = document.getElementById('displayArea');
    const patternListContainer = document.getElementById('patternListContainer');

    let currentPage = 1;
    let totalPages = 1;

    const fetchPatterns = async (page) => {
        try {
            displayArea.innerHTML = loadingSpinner('Data Loading .....');
            const patternInfoList = await api.getPatternList();
            if (!patternInfoList || !Array.isArray(patternInfoList)) {
                displayArea.innerHTML = `<p class="text-red-500">No patterns found.</p>`;
                return
            }
            patternListContainer.innerHTML = ''; // Clear existing patterns
            const patternItem = document.createElement('div');
            patternItem.className = 'p-4 border rounded shadow hover:shadow-lg transition';
            let tableHTML = `
                <div class="w-full overflow-x-auto">
                    <table class="w-max border-collapse border border-gray-300 text-left text-sm">
                        <thead>
                            <tr class="bg-primary">
                                <th class="p-2 border">Level</th>
                                <th class="p-2 border">Detail</th>
                                <th class="p-2 border">Title</th>
                                <th class="p-2 border">Formula</th>
                                <th class="p-2 border">Explanation (EN)</th>
                                <th class="p-2 border">Explanation (JA)</th>
                                <th class="p-2 border">Explanation (MY)</th>
                                <th class="p-2 border">Created At</th>
                            </tr>
                        </thead>
                        <tbody>        
            `;
            patternInfoList.forEach(pattern => {
                const safeExamplesData = JSON.stringify(pattern.examples).replace(/"/g, '&quot;');
                tableHTML += `
                    <tr>
                        <td class="p-2 border text-center">${pattern.level}</td>
                        <td class="p-2 border text-center">
                            <a href="${getBasePath()}admin/pattern/detail/?id=${pattern.id}" class="ml-2 text-blue-500 hover:underline">></a>
                        </td>
                        <td class="p-2 border">${pattern.title}</td>
                        <td class="p-2 border">${pattern.formula}</td>
                        <td class="p-2 border">${pattern.explanation.en}</td>
                        <td class="p-2 border">${pattern.explanation.ja}</td>
                        <td class="p-2 border">${pattern.explanation.my}</td>
                        <td class="p-2 border">${pattern.created_at}</td>
                    </tr>
                        
                `;
            });     
            tableHTML += `
                        </tbody>
                    </table>
                </div>
                `;
            patternItem.innerHTML = tableHTML;
            patternListContainer.appendChild(patternItem);
                // renderPatterns(data.patterns);
                // totalPages = data.totalPages;
                // renderPagination();
            displayArea.innerHTML = ''; // Clear loading message
        } catch (error) {
            console.error("Error fetching patterns:", error);
            displayArea.innerHTML = `<p class="text-red-500">An error occurred while fetching patterns. Please try again later.</p>`;
        }
    };
    fetchPatterns(currentPage);

    document.addEventListener('click', (event) => {
        if (event.target && event.target.classList.contains('showExamplesBtn')) { 
            console.log("Show Examples button clicked");
            const patternId = event.target.getAttribute('data-id');
            console.log("Pattern ID:", patternId);
            window.location.href = `${getBasePath()}admin/pattern/detail?id=${patternId}`;
        }
    });


</script>